* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

h1, h2 {
    margin: 0.2em;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.2em;
}

header {
    background-color: #222;
    color: #eee;
    flex: 0 0 auto;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

textarea, input {
    font: inherit;
    color: inherit;
    border: solid 1px #ccc;
    padding: 0.2em;
    border-radius: 2px;
}

.invalid {
    background-color: #fcc;
}

.offscreen {
    position: fixed;
    top: -1000px;
    left: -1000px;
}

.workspace {
    background-color: #fff;
    background-image: repeating-linear-gradient(rgba(0,0,0,0.1) 0px, rgba(0,0,0,0.1) 1px, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 20px),
                      repeating-linear-gradient(90deg, rgba(0,0,0,0.1) 0, rgba(0,0,0,0.1) 1px, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 20px);
    background-size: 20px 20px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.4) inset;
    position: relative;
    flex: 1 0 auto;
    overflow: auto;
}

.workspace-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.comic,
.panel {
    margin: 60px 100px;
}

.comic {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.panel {
    position: absolute;
    width: 0;
    height: 0;
    border: solid 2px rgba(80, 80, 255, 0.6);
    background-color: rgba(180, 180, 255, 0.6);
    color: rgba(255, 255, 255, 0.9);
    font-size: 64px;
    font-weight: bold;
    overflow: hidden;
    text-indent: 20px;
}

.output {
    width: 100%;
    height: 15em;
}

/* tool-selector */

ul.tool-selector {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.tool-icon-selected {
    background-color: #ddd;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.tool-icon {
    width: 42px;
    height: 42px;
    background-position: center center;
    background-repeat: no-repeat;
}

.tool-icon > a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.tool-icon-select {
    background-image: url('icons/select.svg');
}

.tool-icon-addpanel {
    background-image: url('icons/addpanel.svg');
}

.tool-icon-preview {
    background-image: url('icons/preview.svg');
}

.tool-cursor-select {
    cursor: default;
}

.tool-cursor-addpanel {
    cursor: crosshair;
}

.tool-cursor-preview {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

/* panel-editor */
.selected-panel {
    border: solid 2px rgba(255, 80, 255, 0.6);
}

.focussed .selected-panel {
    background-color: rgba(255, 180, 255, 0.6);
}

body {
    counter-reset: panel;
}

.panel::before {
    counter-increment: panel;
    content: counter(panel);
}

/* panel-properties */

.panel-properties {
    margin-bottom: 2em;
}

.panel-properties > h2 {
    background-color: #ccc;
    font-size: 1em;
    margin: 0 0 0.5em;
    padding: 0.3em;
    border-radius: 5px;
}

.panel-properties > label {
    display: block;
    overflow: hidden;
    margin: 0.2em;
}

.panel-properties > label > input{
    float: right;
    margin-left: 1em;
    width: 10em;
}

/* docked thingy */

.docked {
    padding: 10px;
}