<form class="panel-properties">  
    <h2>Properties</h2>  
    <label>Left: <input type="number" ng-model="panel.left" key-source key-source-category="editor"></label>
    <label>Top: <input type="number" ng-model="panel.top" key-source key-source-category="editor"></label>  
    <label>Width: <input type="number" ng-model="panel.width" key-source key-source-category="editor"></label>  
    <label>Height: <input type="number" ng-model="panel.height" key-source key-source-category="editor"></label>  
</form>